ingress-nginx:
  controller:
    replicaCount: 1

    ingressClassResource:
      name: nginx
      enabled: true
      default: true

    service:
      type: NodePort

    admissionWebhooks:
      enabled: false

    metrics:
      enabled: false
